Flask==2.3.3
Flask-RESTful==0.3.10
flask-apispec==0.11.4
gunicorn==21.2.0
python-dotenv==1.0.0
requests==2.31.0
# lxml==4.9.3
# ncclient==0.6.13
# xmltodict==0.13.0
# utils
# pytz>=2015.7
# fpdf

## Your app's requirements here:
